{%- comment -%}
Inops Web SDK - Shopify Liquid snippet
Place inside a section or template where the search should appear.
{%- endcomment -%}

<div
  data-widget="inops-search"
  data-search-key="{{ shop.metafields.inops.search_key | escape }}"
  data-api-url="https://api.inops.dev"
  data-min-words="3"
  data-debounce-ms="350">
</div>

<script
  src="https://cdn.inops.io/inops-web-sdk@1.0.0/inops.min.js"
  integrity="sha384-PASTE_SRI_HASH"
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>


